{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}"
    {% block style %}
    {% endblock %}
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block body %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>